<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<style>
			.littlegrey{
				color: grey;
				font-size: 20px;
			}
			.big
			{
				color: grey;
				font-size: 40px;
				font-weight: 500;
			}
			.tinygrey{
				color: grey;
				font-size:15px;
			}

		</style>

	</head>

	<body>
		{% extends "layout.html" %}
		
		{% block content %}
		
		<div class="row">

			<div class='col-md-4'>
			</div>
			<div class='col-md-5'>
				<div class="big"> ARCHIVE AT <tspan style="color:black;"> MANOR INK</tspan></div>

				<div class="littlegrey">
					Hosted by Livingston Manor Public Library & Manor Ink
				</div> 
				<div style="height:70px;"></div>

				<div class="tinygrey">
					Bringing the Library inside out! 
					QR ME! is a web based archive that connects the physical world around us to the digital world inside our computers or phones. 
					Walk around town and keep an eye out for the QR codes posted around town and uncover some marvelous facts and images you did not know about your surroundings. 
				</div>
				<div style="height:70px;"></div>
				<div class="tinygrey">
					<tspan style="color:black; padding-right: 20px;">_MAP</tspan>All featured content is displayed on the map. Click on the pins to learn more about each location. <br> <br>
					<tspan style="color:black; padding-right: 20px;">_FEATURED</tspan>Uploaded content will appear in the Featured tab. Click on each card to learn more about what other community members and neighbors have uploaded. <br> <br>
					<tspan style="color:black; padding-right: 20px;">_UPLOAD</tspan>Everybody can upload their own stories, images or documents! Include helpful information such as name, caption, location, date, and a description. Once verified, the uploaded content will appear on the Featured tab. If location was specified, it will be displayed on the Map tab.
				</div>


			</div>
		</div>

		
		<script>console.log("here")</script>
		{% endblock %}

	</body>
</html>