<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin=""/>

		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
		<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

		<style>
			.card {
				width: 20%;
			}
			.map-container{
				height:680px;
				width: 100%;
				padding-bottom: 20px;
			}

			#mapid{
				height:100%;
				width: 100%;
			}
		</style>
		
	</head>

	<body>
		{% extends "layout.html" %}

		{% block content %}

		
		<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
		<link
		rel="stylesheet"
		href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
		type="text/css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

		<div class="map-container">
			<div id="mapid"></div>
		</div>

		<div class='geocoder'>
			<div id='geocoder'></div>
		</div>
		
		<script>

			//get URL string
			var getUrlParameter = function getUrlParameter(sParam) {
				var sPageURL = window.location.search.substring(1),
					sURLVariables = sPageURL.split('&'),
					sParameterName,
					i;
				for (i = 0; i < sURLVariables.length; i++) {
					sParameterName = sURLVariables[i].split('=');
					if (sParameterName[0] === sParam) {
						return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
					}
				}
			}

			var location_Name = (getUrlParameter('location'));
			
			mapboxgl.accessToken = 'pk.eyJ1IjoiYWh1YW5nMjIyIiwiYSI6ImNraHB2czh1azEwcmEydms2OGM5NGozM2gifQ.fiUlLSj8HeEhFjIezx9W4Q';
			
			var mymap = new mapboxgl.Map({
				container: 'mapid',
				style: 'mapbox://styles/mapbox/streets-v11',
				center: [-79.4512, 43.6568],
				zoom: 13
			});

			var geocoder = new MapboxGeocoder({ 
				accessToken: mapboxgl.accessToken,
				mapboxgl: mapboxgl,
				
			});

			mymap.addControl(geocoder)
			mymap.addControl(new mapboxgl.NavigationControl());
	
			geocoder.query(location_Name, showMap);
			
			function showMap(err, data) {
				if (data.lbounds) {
					mymap.fitBounds(data.lbounds);
				} else if (data.latlng) {
					mymap.setView([data.latlng[0], data.latlng[1]], 5);
				}
			}

			function getCoords(err, data) {
				
				console.log(err);
				//results = data.results.features;	
				console.log(results.data)	
			}

			var address = "Bridgeport,CT"
			//console.log(geocoder.query(getCoords));

			geocoder.on('select', function(object){
				var coord = object.feature.geometry.coordinates;
				console.log(([coord[1], coord[0]]));
			});


			var pictures = {{pictures|tojson}}
			console.log(pictures)
			

			pictures.forEach(addPins);
			
			
			function addPins(item, index) {
				
				var location_pin = (item.Address + "," + item.City);
				console.log(location_pin)
				//console.log(geocoder.query(location_pin).options);
				geocoder.query(location_pin, getCoords(location_pin));

/*
				geocoder.on('results', function(results) {
					var feature_location = (item.Address).substring(0,5)

					console.log(feature_location)
					console.log(results.features[0].place_name)

					console.log((results.features[0].place_name).includes(location_pin))
					//if ((results.features[0].place_name).includes(location_pin)) {
					//	console.log(results.features[0].place_name);
					//}
					
				})
*/
				
				//var marker = new mapboxgl.Marker()
			//		.setLngLat([12.550343, 55.665957])
		//			.addTo(map);
	//			L.marker([41.871, -74.876]).addTo(mymap).bindPopup("<b>Arnold House").openPopup();
			
				

			}

			

			//var marker_ArnoldHouse = L.marker([41.871, -74.876]).addTo(mymap).bindPopup("<b>Arnold House").openPopup();
			//var marker_MSFarm = L.marker([41.901, -74.827]).addTo(mymap).bindPopup("<b>Main Street Farm").openPopup();
			//var marker_Beaverkill = L.marker([41.982, -74.837]).addTo(mymap).bindPopup("<b>Beaverkill Covered Bridge").openPopup();

		</script>

	{% endblock %}
	</body>

</html>