<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<style>
		.form-rounded {
			border-radius: 3rem;
		}
		.small{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 50px;
		}
		body{
			background-color: #FAFAFA;
		}
		.text-center{
			font-size:40px;
		}
		</style>
	</head>

	<body>
		{% extends "layout.html" %}
		{% block content %}

		<form method="post" action="/uploaded" enctype="multipart/form-data">
			<div class="row small">
				<div class="col-6 text-center">
					<div class="file-upload-wrapper">
 						<input type="file" name="file" id="input-file-now" class="file-upload-input" data-file-upload="file-upload" style="display:none;"/>
 						<label for="input-file-now" style="color:grey; font-weight: 150;">Click here to upload an image</label>
					</div>
				</div>
				<div class="col-4">
					<input class="form-control form-rounded" type="text" name="name" placeholder="Name" required><br>
					<input class="form-control form-rounded" type="text" name="caption" placeholder="Caption" required><br>
					<input class="form-control form-rounded" type="text" name="location" placeholder="Location" required><br>
					<input class="form-control form-rounded" type="date" name="date"><br>
					<input class="form-control form-rounded" type="text" name="description" placeholder="Description or additional notes" required><br>
					<button type="submit" class="btn btn-dark">Submit for Verification</button>
				</div>
			</div>
		</form>
		<p>
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
		</p>
		{% endblock %}
	</body>

</html>